{% extends "books/home2.html" %}

{% block content %}
    <h2>Cyfrowa Biblioteka</h2>
    <p>Aplikacja biblioteczna została stworzona w ramach projektu na studiach i ma na celu wspieranie zarządzania
        książkami, wypożyczeniami oraz interakcjami użytkowników z zasobami bibliotecznymi. Dzięki niej, zarówno
        użytkownicy, jak i bibliotekarze mogą łatwiej zarządzać procesami bibliotecznymi, oszczędzając czas i
        zwiększając efektywność operacyjną. Aplikacja oferuje szereg funkcji, które umożliwiają użytkownikom wygodne
        korzystanie z zasobów biblioteki oraz dodawanie wartościowych opinii na temat książek.</p>

    <p>Użytkownicy zyskują przede wszystkim łatwy dostęp do pełnej bazy książek dostępnych w bibliotece, wraz z
        dokładnymi informacjami o każdej z nich, takimi jak tytuł, autor, kategoria, liczba stron, wydawca, rok wydania
        oraz liczba dostępnych egzemplarzy. Mogą oni przeglądać szczegóły książek, czytać recenzje innych użytkowników
        oraz dodawać własne komentarze. Dzięki opcji "Dodaj do ulubionych", użytkownicy mogą łatwo zapisywać książki,
        które chcieliby wypożyczyć w przyszłości, co sprawia, że aplikacja staje się jeszcze bardziej
        spersonalizowana.</p>

    <p>System wypożyczeń jest zoptymalizowany, umożliwiając użytkownikom szybkie i bezpieczne wypożyczenie książek na
        określony czas. Dzięki ścisłemu powiązaniu z historią wypożyczeń aplikacja automatycznie nalicza punkty karne
        za opóźnienia, co motywuje użytkowników do terminowego oddawania książek. Ponadto, w przypadku przekroczenia
        limitu punktów karnych, użytkownicy otrzymują odpowiednie powiadomienie o konieczności kontaktu z
        bibliotekarzem, co zapobiega nadużyciom.</p>

    <p>Aplikacja zapewnia także dodatkowe funkcje społecznościowe, takie jak możliwość komentowania książek i oceniania
        ich. Komentarze użytkowników są moderowane, a ci, którzy dodają wartościowe opinie, mogą stać się aktywnymi
        członkami biblioteki, pomagając innym w wyborze książek. Dzięki tej funkcji aplikacja staje się miejscem, gdzie
        użytkownicy mogą dzielić się swoimi wrażeniami i rekomendacjami, co wzbogaca doświadczenie korzystania z
        biblioteki.</p>

    <p>System reCAPTCHA chroni aplikację przed nadużyciami i spamem, zapewniając jej bezpieczeństwo. Z kolei integracja
        z profilem użytkownika pozwala na łatwe śledzenie wypożyczeń, książek oznaczonych jako ulubione oraz
        pozostawionych komentarzy. Użytkownicy mają pełną kontrolę nad swoimi danymi i mogą w każdej chwili
        zaktualizować swój profil, dodać nowe książki do swojej kolekcji lub usunąć te, które już przeczytali.</p>

    <p>Dzięki elastycznemu systemowi aplikacja może być łatwo rozbudowywana o dodatkowe funkcje, takie jak integracja z
        systemami płatności online, rozbudowa powiadomień o stanie wypożyczeń czy możliwość udostępniania książek między
        użytkownikami. W przyszłości planujemy również dodać opcje zarządzania zbiorem na poziomie bibliotekarzy, co
        pozwoli na jeszcze lepszą organizację zasobów. Całość opiera się na technologii Django, co zapewnia aplikacji
        niezawodność, bezpieczeństwo i wygodę w użytkowaniu.</p>
{% endblock %}

