{% extends "books/home2.html" %}
{% load crispy_forms_filters %}
{% block content %}

    <h2>Wypożycz książkę</h2>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary btn-lg" type="submit">Wypożycz</button>
    </form>

{#    {% if messages %}#}
{#        <ul>#}
{#            {% for message in messages %}#}
{#                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    {% endif %}#}

{% endblock %}