{% extends "books/home2.html" %}

{% block content %}
    <h2>Funkcje Aplikacji Bibliotecznej</h2>

    <p>Aplikacja oferuje szeroki zakres funkcji, aby ułatwić zarządzanie książkami, komentarzami oraz historią
        wypożyczeń. Poniżej znajduje się opis głównych funkcji:</p>

    <ul class="list-group my-4">
        <li class="list-group-item">
            <strong>Wyszukiwanie książek:</strong> Szybkie wyszukiwanie dostępnych książek według kategorii, autora lub
            tytułu.
        </li>
        <li class="list-group-item">
            <strong>Wypożyczanie i zwrot książek:</strong> Możliwość wypożyczania oraz zwrotu książek, z opcją
            zarządzania terminami i naliczania punktów karnych.
        </li>
        <li class="list-group-item">
            <strong>Zarządzanie komentarzami:</strong> Użytkownicy mogą dodawać komentarze do książek, przeglądać swoje
            komentarze, a także je usuwać.
        </li>
        <li class="list-group-item">
            <strong>Profil użytkownika:</strong> Podgląd historii wypożyczeń, aktualnych wypożyczeń oraz naliczonych
            punktów karnych za spóźnienia.
        </li>
        <li class="list-group-item">
            <strong>System punktów karnych:</strong> Naliczanie punktów za spóźnienia w zwrotach i blokada wypożyczeń
            przy przekroczeniu limitu punktów.
        </li>
    </ul>

    <p>Każda funkcja została zaprojektowana, aby ułatwić korzystanie z zasobów biblioteki i umożliwić śledzenie
        aktywności w systemie.</p>

{% endblock %}
