{% extends "books/index.html" %}
{% block content %}
    {% for book in books %}
        <article class="media content-section">
            <img class="rounded article-img w-25" src="{{ book.image.url }}" alt="book image">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="">{{ book.category }}</a>
              <small class="text-muted">{{ book.publication_date|date:"d F Y" }}</small>
            </div>
            <h2><a class="article-title" href="">{{ book.title }}</a></h2>
            <p class="article-content">{{ book.author }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock %}