{% extends "books/home2.html" %}

{% block content %}
<h2>Przeczytane książki: {{ read_count }}</h2>

{% if loans %}
  <div class="row mb-4">
    {% for loan in loans %}
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">

          <!-- Sekcja z obrazkiem (okładka książki) -->
          <div class="col-auto d-none d-lg-block">
            <img src="{{ loan.book_instance.book.image.url }}" alt="Okładka książki" width="200" height="321" class="bd-placeholder-img" style="object-fit: cover;">
          </div>

          <!-- Sekcja z tekstem (dane książki) -->
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-3">
              <a class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" class="article-title" href="{% url 'book-detail' loan.book_instance.book.slug %}">{{ loan.book_instance.book.title }}</a>
            </h3>
            <p class="mb-1"><strong>Autor:</strong>
              <a class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" href="{% url 'author-books' loan.book_instance.book.author.slug %}">{{ loan.book_instance.book.author }}</a>
            </p>
            <p class="mb-1"><strong>Wydawca:</strong> {{ loan.book_instance.book.publisher }}</p>
            <p class="mb-1"><strong>Kod egzemplarza:</strong> {{ loan.book_instance.id_code }}</p>
            <p class="mb-1 text-body"><strong>Data wypożyczenia:</strong> {{ loan.loan_date|date:"d.m.Y" }}</p>
            <p class="mb-1 text-body"><strong>Data zwrotu:</strong> {{ loan.returned_date|date:"d.m.Y" }}</p>
          </div>

        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>Nie masz przeczytanych książek.</p>
{% endif %}



{% endblock %}