{% extends "books/home2.html" %}
{% load crispy_forms_filters %}
{% block content %}
  <h2>Zwrot książki</h2>

  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_code">Podaj kod książki:</label>
      {{ form|crispy }}
    </div>

    <button type="submit" class="btn btn-primary">Zwróć książkę</button>
  </form>

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <hr>
  <a href="{% url 'borrowed_book' %}">Zobacz swoje wypożyczone książki</a>

{% endblock %}