{% extends "books/home2.html" %}
{% load crispy_forms_filters %}
{% block title %}Rejestracja{% endblock %}
{% block content %}

    <div class="container-sm ">
        <div class="content-section">
            <form method="POST" id="register-form">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Rejestracja</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group pb-3">
                    <button class="btn btn-outline-info" type="submit">Zarejestruj</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted ">
                    Masz już konto? <a class="ml-2" href="{% url 'login' %}">Zaloguj się</a>
                </small>
            </div>
        </div>
    </div>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script type="text/javascript">
        document.getElementById("register-form").addEventListener("submit", function (event) {
            // Sprawdź, czy reCAPTCHA została wykonana
            var response = grecaptcha.getResponse();
            if (response.length === 0) {
                // Jeśli reCAPTCHA nie została wykonana, wyświetl komunikat i zatrzymaj wysyłanie formularza
                alert("Proszę wypełnić reCAPTCHA, aby kontynuować.");
                event.preventDefault();
            }
        });
    </script>
{% endblock %}